
body{
    padding: 0px;
    margin: 0px;
    background-color: white;
}


.blue-chat{
    font-size: 90px;
    /* padding-left: 5px; */
    /* color:  rgba(0, 0, 173, 0.959); */
    /* margin-bottom: 100%; */
    
       
} 


.blue-chat{

    margin: 50px;
    display: flex;

}

.book{
    
    color: rgb(180, 180, 180);
    font-size: 40px;
    top: 11%;
    position: absolute;
    left: 85px;
    }


.container{
    
    margin-top: 37%;
}

.book{
    margin-top: 33%;
}


